#calculator {
  background: #fff;
  padding: 10px;
  box-shadow: 4px 4px 10px 2px #888;
  border-radius: 4px;
  width: 320px;

  table tbody {
    width: 320px;
    height: 50vh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);

    .buttons-wrap {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    .last-buttons-wrap {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
    }

    tr {
      td {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px;

        button {
          height: 100%;
          width: 100%;
          font-size: 1.5rem;
          border-radius: 5px;
          border-color: #d5d5d5;
        }
      }

      .orange {
        background: #f4913e;
      }

      .gray {
        background: #e0e0e0;
      }
    }

    .result {
      margin: 2px;
      background: #858693;
      color: #fff;
      border-radius: 5px;
      display: flex;
      font-size: 2rem;
      justify-content: flex-end;
      padding-right: 1rem;
    }
  }
}
